/*
  1. title, footer
  2. precondition
  3. description
  4. remind
  5. game start
  6. score
*/

* {
  box-sizing: border-box;
}
html, body {
  width: 100%; 
  height: 100%;
  padding: 0;
  margin: 0 auto;
}
body {
  min-width: 350px;
  max-width: 1300px;
  font-size: 18px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.game {
  height: 100vh;
  background: #82a0b4;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* title */
.title {
  display: flex;
  height: 60px;
  background: #0a0f46;
  margin-bottom: 80px;
}
.title .text {
  font-size: 20px;
  font-weight: bold;
  color: #B8860B;
  padding-top: 20px;
  padding-left: 12px;
}
/* main */
main {
  text-align: center;
  color: #0a0f46;
}
/* footer */
footer {
  max-width: 1300px;
  height: 40px;
  margin: 0 auto;
  padding-top: 4px;
  color: #B8860B;
  text-align: center;
  background: #0a0f46;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
footer .footer-title {
  font-size: 0.9em;
  margin-bottom: 3px;
}
footer .footer-copy {
  font-size: 0.6em;
}
/*
  min-width: 350 px
  max-width: 1300 px
*/
@media (min-width: 500px) {
  .title .text {
    font-size: 25px;
  }
}

/*** precondition ***/
.precondition .precondition-title {
  font-size: 1.8em;
  margin-bottom: 30px;
}
.precondition .name label {
  font-size: 1.2em;
}
.precondition .name input {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 30px;
  background-color: #fff;
  border-color: #0a0f46;
  -moz-border-radius: 0%;
  -webkit-border-radius: 0;
  -o-bordr-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: initial;
}
.precondition button {
  font-weight: bold;
  background: #B8860B;
  width: 50px; height: 50px;
  margin-bottom: 50px;
  border: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-bordr-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.precondition button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.precondition .precondition-footer {
  margin-bottom: 110px;
}

/*** description ***/
.description {
  padding: 0 50px;
}
.description-title {
  font-size: 2.5em;
  color: #0a3c14;
  margin-top: -20px;
  margin-bottom: 50px;
}
.description-text {
  font-size: 1.5em;
  line-height: 1.3em;
}
.description-icon {
  font-size: 3em;
  color:#966e3c;
  margin-top: 50px;
}
/*
  description
  min-width: 350 px
  max-width: 1300 px
*/
@media (min-width: 750px) {
  .description-text {
    font-size: 2em;
  }
  .description-icon {
    font-size: 4em;
  }
}
@media (min-width: 960px) {
  .description {
    padding: 0 150px;
  }
}
@media (min-width: 1000px) {
  .description {
    padding: 0 200px;
  }
  .description-text {
    font-size: 2.2em;
  }
}